@tailwind base;
@tailwind components;
@tailwind utilities;

#cart::-webkit-scrollbar{
    width: 0.4rem;
    background-color: #f5f5f5;
}

#cart::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 10px;
}



nav a:focus,
nav a:hover,
nav a:active{
    @apply text-orange-600 duration-300;
}

input:focus, 
textarea:focus{
    @apply bg-blue-50 placeholder:invisible
}
